/*
===============================================================================
 This file contain extra CSS rules to customize the YunoHost user portal and
 can be used to customize app tiles, buttons, etc...
===============================================================================
*/
/* ------------------------
		Global Main Setup
------------------------ */
@font-face {
	font-family: "Noto Sans";
	src: url("typo/NotoSans-Regular.ttf");
}
@font-face {
	font-family: 'NotoSansBold';
	src: url("typo/NotoSans-CondensedBold.ttf");
}

@font-face {
	font-family: "Icon Awesome";
	src: url("typo/FontAwesome.ttf");
}

html {
	min-height: 100vh;
}
body {
	line-height: 1;
}
* {
	font-family: "Noto Sans", serif;
}
/* ------------------------
		Login Page 
------------------------ */

.element-invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

		/* ------------------------
				Main Setup
		------------------------ */
#ynh-logo {
	/*margin-top: 20%;*/
	margin-top: 30vh;
	width: 0;
	height: 0;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
}

.ynh-user-portal {
	background-image: url("pictures/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

		/* ------------------------
				Windows Login
		------------------------ */
.messages, .login {
	width: 800px;
	padding: 0 20px;
}

.ynh-wrapper {
	background-image: url("pictures/login-logo.jpg");
	background-repeat: no-repeat;
	background-position-x: 50px;
	margin: 0;
	position: initial;
}
.ynh-wrapper::after, .ynh-wrapper::before {
	content: none;
}

.messages {
	position: absolute;
	border-radius: 0 0 15px 15px;
	margin-top: 256px;
	max-width: none;
	color : #c2a593;
	
	/* Typo Rules */
	font-family: 'NotoSansBold', serif;
	font-size: 1.8em;
	font-variant: small-caps;
	text-align: center;
	
	box-shadow:  8px 8px 8px rgb(16, 28, 22);
}

.messages.info {
	background-color: #5d5446;
	padding: 0 0 8px 0;
}

.login {
	background-color: #2c2b27;
	height: 256px;
	border-radius: 15px 15px 0 0;
	box-shadow:  8px 8px 8px rgb(16, 28, 22);
	border-bottom: 8px solid #5d5446;
}

.login-form {
	width: 50%;
	margin: 0 5% 0 45%;
	height: 100%;
	display: grid;
	align-content: center;
}
.login-form .btn {
	height: 52px;
	margin: 8px 0;
	padding: 0 0 0 60px;
}
.login-form .btn:hover {
	background: url("pictures/picto.jpg") no-repeat 0 52px white;
}

.login-form .form-group {
	display: grid;
	grid-template-columns: 52px 90%;
	height: 52px;
	margin: 8px 0;
	padding: 0;
	overflow: hidden;
	position: inherit; /* Fix Ynh Portal */
	background: none; /* Fix Ynh Portal */
}
.login-form label::before {
	width: 0;
	height: 0;
}
.icon-user::before, .icon-lock::before {
	content: none;
}

.login-form .form-text {
	height: 52px;
	width: 95%;
	padding: 0 5%;
	border: 0;
	font-family: 'NotoSansBold', serif;
	background-color: #5d5446;
	color: #c2a593;
}
.login-form .form-text::placeholder {
	color: #c2a593;
}

.icon-user, .icon-lock {
	position: relative;
	width: 52px;
	height: 52px;
}	
.icon-user {
	background-image: url("pictures/picto.jpg");
}
.icon-lock {
	background-image: url("pictures/picto.jpg");
	background-position: 0 -52px;
}
input[type="submit"] {
	border: 0;
	background-image: url("pictures/picto.jpg");
	background-position: 0 -102px;
	background-repeat: repeat-y;
	background-color: #5d5446;

	/* Typo Setup */
	font-family: 'NotoSansBold', serif;
	color: #c2a593;
	text-align: left;
}

/* ------------------------
		Apps Tile Page 
------------------------ */
		/* ------------------------
				Main Setup
		------------------------ */
body.logged, .logged .content {
	min-height: 100vh;
}
.logged {
	margin: 0;
	padding: 0;
	position: unset;
}

.logged .content {
	max-width: 100%;
}
.logged .messages {
	max-width: 0;
	max-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logged .user {
	height: 92vh;
}

.logged .user-menu {
	float: none;
	display: inline;
}
.logged .user-menu li {
	text-align: right;
}
.logged .user-menu a {
	margin: 0;
	padding: 16px;
	color: #c2a593;
}
		/* ------------------------
				Pannel
		------------------------ */
.logged .user, .logged .footer {
	width: 30%;
	background-image: none;
	background-color: #4f4641;
	border-right: 0.6em solid #6f5b50;
	padding-top: 64px;
}
		/* ------------------------
				User
		------------------------ */
.user-container {
    display: block;
    position: relative;
    max-width: 100%;
	line-height: 2.6em;
	margin: 0;
	padding: 16px 0 0;
	background-color: #2c2b27;
	color: #c2a593;
	text-align: center;
}
.user-container::before{
	content: none;
}
.user-container::before {
	color: inherit;
}
.user-container .user-username, .user-container-edit .user-username {
	display: inline-block;
	width: 80%;
	margin: 0 10%;
	min-height: 82px;
	font-size: 2.6em;
	text-align: left;
}
.user-container .user-username::after, .user-container-edit .user-username::after {
	font-family: "Icon Awesome", serif;
	content: "\f044";
	color: #c2a593;
	font-size: 0.8em;
    width: 1em;
    height: 1em;
    margin-left: .5em;
	vertical-align: baseline;
}
.user-container .user-fullname, .user-container .user-mail {
	display: inline;
	font-size: 1em;
	text-align: center;
	padding: 6px 0 0;
}
.user-container .user-fullname {
	display: block;
	text-align: left;
	padding: 0 10%;
}
.user-container .user-mail {
	float: right;
	color: #c2a593;
	margin: 0;
	padding: 0 10%;
	text-align: right;
}
.user-container .user-fullname:before {
	content: "Bienvenue ";
}
.user-container .user-username:before {
    display: block;
    position: relative;
    float: left;
    content: url("pictures/user.png");
    width: 82px;
	height: 82px;
	size: 16px;
}
		/* ------------------------
				Yunohost Icon
		------------------------ */
.logged #ynh-logo {
	margin: 0 0 8vh;
	padding: 0 108px 0 0;
	width: 29%;
	height: 85px;
	line-height: 85px;
	left: 0;
	text-align: right;
	background-position: right;
	color: #c2a593;
	font-variant: small-caps;
	font-family: 'NotoSansBold', serif;

}
.logged #ynh-logo:before {
	content: "Powered by ";
}
		/* ------------------------
				Logout Icon
		------------------------ */
.icon-connexion {
	color: #c2a593;
}
.icon-connexion::before {
    color: #c2a593;
}
		/* ------------------------
				Setup Footer
		------------------------ */
.logged .footer {
	height: 8vh;
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 0.6em solid #6f5b50;
}
.logged .footer nav {
	width: 85%;
	margin: 0 auto;
	padding: 8px 0;
	text-align: center;
	border-top: 2px #c2a593 solid;
}
.logged .footer a {
	font-family: 'NotoSansBold', serif;
	font-size: .9em;
	text-decoration: none;
	color: #c2a593;
	letter-spacing: -0.05em;
}
.logged .footer a:hover {
	text-decoration: underline;
}

.logged .footer a:first-child::before {
	content: none;
}

.logged .footer a::before {
    content: "•";
	font-size: 1.3em;
    display: inline-block;
    vertical-align: top;
    padding: 0 0.5em 0 0.25em;
    /* color: #666; */
}

		/* ------------------------
				Setup Apps Tile
		------------------------ */
#apps {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	min-height: 100vh;
	margin: 0;
}

#apps ul {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding: 10% 0;
	letter-spacing: initial;
	text-align: center;
}
#apps ul li {
	margin: 1em;
	font-variant: small-caps;
	box-shadow: none;
}

#apps ul li a {
	background: rgb(73,70,63);
	background: linear-gradient(0deg, rgba(73,70,63,1) 0%, rgba(87,90,89,1) 100%);
	border-radius: 5px 5px 0 0;
	box-shadow: 6px 6px 6px #101c16;
	color: #c2a593;
}

.listing-apps a:hover {
	top: 0;
	left: 0;
	border: 30px solid #2c2b27;
	transform: rotate(7deg);
}
.listing-apps a::after, .listing-apps a::before, .listing-apps a:hover::after, .listing-apps a:hover::before {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;
	content: none;
	overflow: hidden;
}

.listing-apps a .name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 6px 5%;
	text-align: left;
	background: #2c2b27;
	line-height: 1.4em;
	overflow: hidden;
}
.listing-apps a:hover .name {
	height: 0;
	line-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	animation: nameopa 0.3s;
}
@keyframes nameopa {
	from {
		height: auto;
		line-height: inherit;
		padding-top: 6px;
		padding-bottom: 6px;}
	to { height:0;
		line-height: 0;
		padding-top: 0;
		padding-bottom: 0;}  }

.listing-apps a .first-letter {
	font-family: 'NotoSansBold', serif;
	line-height: 2em;
}

.listing-apps a:hover .first-letter {
	width: 100%;
	height: 100%;
	display: inline;
	position: relative;
	top: -30px;
	animation: movetop 0.3s;
}
@keyframes movetop {
	from { top: 0; }
	to { top:-30px; }  }
/* ------------------------
		Page Edit User
------------------------ */
		/* ------------------------
				Main Setup
		------------------------ */
.logged .edit, .logged .password {
	float: right;
	width: 60%;
	position: absolute;
	top: 0;
	right: 5%;
}

.logged .ynh-wrapper {
	background-image: none;
}
.user-container-edit::after {
	content: none;
}
.form-text {
	color: #c2a593;
	background: url("pictures/picto.jpg") no-repeat 0 -156px #5d5446;
	padding-left: 60px;
	font-family: 'NotoSansBold', serif;
}
.form-text:hover {
	background-color: #2c2b27;
}
.edit .large-btn, input[value="OK"] {
	background-image: none;
}
.edit .large-btn:hover {
	background-color: white;
}
.btn {
	font-family: "NotoSansBold", serif;
}
.btn-group .btn:hover {
	background-color: #2c2b27;
}
.form-group .control-label {
	padding: 0.6em 1em;
}
.user-container-edit .user-username::after {
	content: "\f00d";
}